body {
  background-color: rgba(21, 81, 191, 0.5);
  font-family: "Roboto", monospace, sans-serif;
  color: #fdfdfd;
}

header {
  border-bottom: 1px solid #80b9ad;
  padding: 0 0 30px 0;
}

footer {
  border-top: 1px solid #80b9ad;
  font-size: 11px;
  text-align: center;
  padding-top: 30px;
}

a,
strong {
  color: #80b9ad;
}

.weather-app {
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  width: 400px;
  max-width: 80%;
  margin: 50px auto;
  box-shadow: 5px 5px 10px rgba(87, 84, 87, 0.8);
  padding: 30px;
  border-radius: 20px;
}

.search-form-input {
  background: #fdfdfd;
  border: none;
  max-width: 60%;
  border-radius: 6px;
  padding: 14px;
  font-size: 16px;
  box-shadow: 5px 5px 10px rgba(87, 84, 87, 0.8);
}
.search-form-button {
  background: rgba(23, 89, 125, 0.3);
  color: white;
  border-radius: 6px;
  padding: 14px;
  border: none;
  font-size: 16px;
  margin-left: 18px;
  box-shadow: 5px 5px 10px rgba(87, 84, 87, 0.8);
}

.city-header {
  text-align: center;
  line-height: 1px;
  margin-top: 50px;
}

.city-header h1 {
  font-size: 46px;
  font-weight: 300;
  padding: 20px 0 7px;
}

.city-header h3 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3px;
  padding-bottom: 30px;
  color: #80b9ad;
}

.weather-data {
  display: flex;
  justify-content: center;
}

.temperature-value {
  font-size: 80px;
  font-weight: 300;
  position: relative;
}
.temperature-unit {
  font-size: 30px;
  position: relative;
  top: 10px;
  font-weight: 300;
}
.weather-description {
  position: relative;
  top: 10px;
  line-height: 24px;
  left: 15px;
  font-size: 14px;
}
.weather-icon {
  position: relative;
  left: 4px;
  width: 95px;
  height: 95px;
}

.weather-data {
  padding-bottom: 30px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
}

.weather-forecast-day {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 6px;
}

.weather-forecast-icon {
  width: 55px;
  height: 55px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  font-size: 14px;
  color: #80b9ad;
  display: flex;
  justify-content: center;
  margin: 6px 0 50px;
}

.weather-forecast-temperature {
  padding: 0 6px;
}
