body {
  background-color: #aababe;
  font-family: "Roboto", monospace, sans-serif;
  color: #fdfdfd;
}

header {
  border-bottom: 1px solid #80b9ad;
  padding: 0 0 30px 0;
}

footer {
  border-top: 1px solid #80b9ad;
  font-size: 11px;
  text-align: center;
  padding-top: 30px;
}

a,
strong {
  color: #80b9ad;
}

h3 {
  color: #80b9ad;
}
.weather-app {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  max-width: 400px;
  margin: 50px auto;
  box-shadow: 5px 5px 10px rgba(87, 84, 87, 0.8);
  padding: 30px;
  border-radius: 20px;
}

.search-form-input {
  background: #fdfdfd;
  width: 70%;
  border: none;
  border-radius: 6px;
  padding: 14px;
  font-size: 16px;
  margin-left: 15px;
  box-shadow: 5px 5px 10px rgba(87, 84, 87, 0.8);
}
.search-form-button {
  background: #80b9ad;
  color: white;
  border-radius: 6px;
  padding: 14px 12px;
  border: none;
  font-size: 16px;
  margin-left: 15px;
  box-shadow: 5px 5px 10px rgba(87, 84, 87, 0.8);
}

.city-header {
  text-align: center;
  line-height: 1px;
  margin-top: 50px;
}

.city-header h1 {
  font-size: 50px;
  font-weight: 300;
}

.city-header h3 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3px;
  padding-bottom: 30px;
}

.weather-data {
  display: flex;
  justify-content: center;
}

.temperature-value {
  font-size: 80px;
  font-weight: 300;
  position: relative;
}
.temperature-unit {
  font-size: 30px;
  position: relative;
  top: 10px;
  font-weight: 300;
}
.weather-description {
  position: relative;
  top: 10px;
  line-height: 24px;
  left: 15px;
  font-size: 14px;
}
.weather-icon {
  position: relative;
  bottom: 15px;
  font-size: 90px;
}
